<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
    </head>
<body>
    <%- include('./partials/header.ejs') %> 
        <div>
            <h3><%= data.name %> </h3>
            <img src="<%= data.img %> " alt="<%= data.name %> ">
            <p>Id: <%= data.id %> </p>
        </div>
        <div>
            Type: <ul>
                <% data.type.forEach(element => { %>
                    <li><%= element %></li>
             <%   }); %> 
            </ul> 
        </div>
        <div>
            Stats: <% for (const stat in data.stats) { %>
                <li><%= `${stat}: ${data.stats[stat]}` %> </li>
          <%  } %> 
        </div>
</body>
</html>